@import "tailwindcss";

@font-face {
  font-family: Switzal;
  src: url(/font/Switzal.ttf);
}

@theme {
  --color-green-dark: #1D5B1F;
  --color-green-light: #9EEC82;
  --color-green-sub-dark: #5D9C53;
  --color-green-sub-lightest: #E6FEDE;
}

body {
  background-image: url(/imgs/bg_green.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Switzal;
}

.chat-message {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 0.3s ease forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}